.startButtons input{
    float: left;
    clear: both;
}
fieldset {
    max-width: 500px;
    margin: 1% auto;
    text-align: center;
}
.inputWrap {
    overflow: hidden;
    clear: both;
}
fieldset .inputWrap label{
    float: left;
}
.submit {
    margin-top: 5%;
}
.main {
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}
fieldset .inputWrap input, select{
    float: right;
    width: 150px;
}
.startButtons{
    display: none;
}

.bonus{
    background: grey;
}

td.Wall{
    background: url(img/Wall.png);
}
td.Ball{
    background: url(img/Ball.png);
}
td.Shield{
    background: url(img/Shield.png);
}
td.pWall{
    background: url(img/pWall.png);
}

td.Speeds{
    background: url(img/Speed.png);
}
td._1{
    background: url(img/1.png);
}
td._2{
    background: url(img/2.png);
}
td._3{
    background: url(img/3.png);
}
td.Health{
    background: url(img/Cross.png);
}
td.Widths{
    background: url(img/Width.png);
}

td.Up{
    background: url(img/Arrow.png);
}
td.Down{
    background: url(img/Arrow.png);
}
td.Rnd{
    background: url(img/Quest.png);
}