body {
    margin: 0;
}
fieldset {
    max-width: 500px;
    margin: 1% auto;
    text-align: center;
}
.inputWrap {
    overflow: hidden;
    clear: both;
}
fieldset .inputWrap label{
    float: left;
}
.submit {
    margin-top: 5%;
}
.main {
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
}
.main > * {
    margin: 0 1%;
}
fieldset .inputWrap input, select{
    float: right;
    width: 150px;
}
.startButtons{
    display: none;
    font-size: 25px;
    max-width: 200px
}
.startButtons input{
    float: left;
    font-size: 25px;
    width: 82%;
}
.startButtons input[type="button"]{
    width: 100%;
}
.startButtons > img {
    width: 50%;
    margin: 0 auto;
    display: block;
}
.bonus{
    background: grey;
}

.main table {
    border-collapse: collapse;
}

.main table td, .ball {
    width: 30px;
    height: 30px;
}
table td[col]:not([class*='o']){
    border: 0px;
}
footer {
    margin-top: 10%;
    display: none;
}
.footerWrap {
    display: flex;
    justify-content: space-around;
}
.footerWrap input {
    font-size: 23px;
    width: 217px;
    text-align: center;
}
.ball {
    position: absolute;
}
.starter {
    position: absolute;
    font-size: 150px;
    line-height: 0;
    z-index: 999;
}
.intface {
    width: 18%;
    float: left;
    height: 35px;
}
.statistic {
    display: none;
    background: grey;
    max-width: 50%;
    margin: 0 auto;
    font-size: 20px;
    padding: 2%;
}
.statistic p {
    border-bottom: 1px dashed;
}
.statistic p.center{
    text-align: center;
}
.statistic p span{
    float: right;
}
.active {
    display: block;
}
.statwrap {
    margin-top: 2%;
    display: none;
}
.light {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    top: 0;
    transition-duration: .1s;
}
.speedlbl {
    background: url(img/interface/Ispeed.png), rgba(70,255,255,0.9);
    background-size: cover;
    background-repeat: round;
}
.widthlbl {
    background: url(img/interface/Iwidth.png), rgba(70,255,255,0.9);
    background-size: cover;
    background-repeat: round;
}
.walllbl {
    background: url(img/interface/Iwall.png), rgba(70,255,255,0.9);
    background-size: cover;
    background-repeat: round;
}
caption {
    min-height: 30px;
}

